@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css or your Tailwind CSS file */

/* Base transition properties for all animated elements */
.fade-up,
.slide-in-right,
.slide-in-left,
.slide-in-up,
.slide-in-down,
.grow-in {
	@apply transition-all duration-700 ease-in-out;
}

.expand-height,
.expand-width {
  @apply transition-all duration-[600ms] ease-linear;
}
/* Fade-up animation for headings and paragraphs */
.fade-up {
  @apply translate-y-8 opacity-0;
}

.fade-up.is-inview {
  @apply translate-y-0 opacity-100;
}

/* Slide in from right animation */
.slide-in-right {
  @apply translate-x-16 opacity-0;
}

.slide-in-right.is-inview {
  @apply translate-x-0 opacity-100;
}

/* Slide in from left animation */
.slide-in-left {
  @apply -translate-x-16 opacity-0;
}

.slide-in-left.is-inview {
  @apply translate-x-0 opacity-100;
}

.slide-in-up {
  @apply translate-y-16 opacity-0;
}

.slide-in-up.is-inview {
  @apply translate-y-0 opacity-100;
}
.slide-in-down {
  @apply -translate-y-16 opacity-0;
}

.slide-in-down.is-inview {
  @apply -translate-y-0 opacity-100;
}

/* Grow animation (for images) */
.grow-in {
  @apply scale-75 opacity-0;
}

.grow-in.is-inview {
  @apply scale-100 opacity-100;
}

/* Width animation (0 to full width) */
.expand-width {
  @apply w-0 opacity-0;
  transition-property: width, opacity;
}

.expand-width.is-inview {
  @apply w-full opacity-100;
}
.expand-height {
  @apply h-0 opacity-0;
  transition-property: height, opacity;
  transform-origin: "top";
}

.expand-height.is-inview {
  @apply h-full opacity-100;
}

/* Optional delay variants if you want to stagger animations */
.delay-200 {
  transition-delay: 200ms;
}

.delay-400 {
  transition-delay: 400ms;
}

.delay-600 {
  transition-delay: 600ms;
}

h1 {
	letter-spacing: -0.03em;
	font-weight: 300;
	color: #101010; /* Default: Black */
}

h2,
p,
span {
	letter-spacing: -0.04%;
	color: "#33ffaa";
}

:root {
	--foreground-color: #2a2a2a; /* Default: Black */
	--background-start-color: #fefefe; /* background start color */
	--background-end-color: #fefefe; /* background end color */
}

html {
	overflow-x: hidden;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	margin: 0;
	color: var(--foreground-color);
	font-family: var(--font-inter); /* Default body font */
	background: linear-gradient(
			to bottom,
			transparent,
			var(--background-end-color)
		)
		var(--background-start-color);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
